@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-image: url("css/images/earthspirit.png");
  font-size: 1.6rem;
  font-family: "Abel", sans-serif;
  height: 100vh;
}

#title {
  font-size: 4rem;
  margin: 2rem 0;
  color: greenyellow;
  text-align: center;
  align-items: center;
}

nav {
  display: none;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
nav > ul > li > a {
  text-decoration: none;
  color: greenyellow;
  cursor: pointer;
}

nav > ul > li:hover {
  transform: scale(1.2);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#play-btn {
  display: none;
}

#category {
  font-size: 3rem;
  margin-bottom: 1.5em;
}
.hangman-container {
  display: flex;
  justify-content: space-evenly;
}

.hangman-body {
  fill: transparent;
  stroke: white;
  stroke-width: 0.5rem;
  stroke-linecap: round;
}

#letters-played {
  font-size: 2.75rem;
  font-weight: bold;
}

.input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input-letter {
  font-size: 1.25em;
  width: 1.75em;
  height: 2.25em;
  background-color: #ffdb99;
  border-color: orange;
  border-style: solid;
  border-width: thin;
  border-radius: 0.2em;
  font-weight: bold;
}

.input-letter:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.input-letter.guessed {
  background-color: red;
}

.input-letter.correct {
  background-color: green;
}

.word-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.word-letter {
  min-width: 3em;
  margin: 1em 0.5em;
  border-bottom: 0.35em solid white;
  text-align: center;
}
