* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/css/images/earthspirit.png");
  background-size: auto;
  color: white;
  max-width: 100vw;
  max-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}
#title {
  margin-top: 10vh;
  margin-bottom: 1em;
  color: greenyellow;
  font-size: 2.5em;
  font-weight: bold;
}

.play-btn {
  margin-top: 1em;
  width: 5rem;
  height: 3rem;
  background-color: blue;
  color: white;
  font-weight: bold;
  border-radius: 0.75em;
  border-style: solid;
  border-color: darkblue;
  line-height: 1.25em;
}

.play-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.game-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.word-container {
  font-weight: bold;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 1em;
}

.word-letter {
  margin: 0 1em;
  height: 6em;
  width: 3em;
  border-bottom-style: solid;
  border-bottom-width: thick;
  text-align: center;
}

.word-letter.correct {
  border-bottom-style: none;
  min-width: 0;
}

.word-letter p {
  font-size: 4em;
}

.word-letter.space {
  border-bottom-style: none;
}

.input-letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input-letter {
  margin-top: 0.5em;
  height: 4.5em;
  width: 3em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: thin;
  background-color: #ffdb99;
  border-color: orange;
  font-weight: bold;
}
.input-letter:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.input-letter.guessed {
  background-color: red;
}

.input-letter.correct {
  background-color: green;
}

.result {
  min-height: 0;
  min-width: 0;
  font-size: 2em;
  border-style: solid;
  border-color: black;
  margin-bottom: 1em;
  padding: 0.25em;
  white-space: nowrap;
  overflow: hidden;
}
.result.win {
  background-color: #00b300;
}
.result.loss {
  background-color: #ff4d4d;
}
